<!doctype html>
<html ng-app='HybridApp'>
<head>
	<title>Hybrid vs Normal Car</title>
	<link rel='shortcut icon' type='image/x-icon' href='assets/favicon.ico' />
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

	<!-- Less files -->
	<link rel="stylesheet" type="text/css" href="styles/main.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
	<div id="hybridVsNormal" hybrid-vs-normal>
		<div class="container unique">
			<div class="col-xs-6">
				<h1>Hybrid</h1>
				<hr>
				<div class="initialCost">
					<span>Initial Cost: </span>
					<input class="pull-right" type="number" ng-model="hybrid.cost">
				</div>
				<div class="efficiency">
					<span>Efficency (mpg): </span>
					<input class="pull-right" type="number" ng-model="hybrid.efficiency">
				</div>
			</div>
			<div class="col-xs-6">
				<h1>Normal</h1>
				<hr>
				<div class="initialCost">
					<span>Initial Cost: </span>
					<input class="pull-right" type="number" ng-model="normal.cost">
				</div>
				<div class="efficiency">
					<span>Efficency (mpg): </span>
					<input class="pull-right" type="number" ng-model="normal.efficiency">
				</div>
			</div>
		</div>
		<br>
		<div class="clear"></div>
		<div class="container common">
			<div class="col-xs-12">
				<div class="milesDriven">
					<span>Miles Driven: </span>
					<input class="pull-right" type="number" ng-model="milesDriven">
				</div>
				<div class="gasPrice">
					<span>Average price of gas: </span>
					<input class="pull-right" type="number" ng-model="gasPrice">
				</div>
				<div class="resellValue">
					<span>Resell Value: </span>
					<div class="pull-right">
						<select class="" ng-model="resellValue" ng-options="percent for percent in percents">
						</select>%
					</div>
				</div>
			</div>
		</div>
		<br>
		<div class="container selection">
			<div class="col-xs-12">
				<span>Output suggestion based on: </span>
				<input type="radio" name="type" ng-model="type" value="gas">Gas Consumption
				<input type="radio" name="type" ng-model="type" value="cost">Total Cost
			</div>
			<button class="btn btn-primary" ng-click="calc(type)">Calculate</button>
		</div>
		<div>
			<h1>You should get a <span ng-if="hybrid.show">hybrid </span><span ng-show="normal.show">normal </span>car.</h1>
		</div>
	</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script src="script.js"></script>
</html>
