#hybridVsNormal .clear {
  clear: both;
}
#hybridVsNormal .unique {
  width: 55%;
}
#hybridVsNormal .common {
  margin-left: 33%;
  width: 31%;
}
#hybridVsNormal div {
  margin-bottom: 5px;
}
#hybridVsNormal input,
#hybridVsNormal select {
  border-radius: 5px;
}
#hybridVsNormal h1 {
  text-align: center;
}
#hybridVsNormal .selection {
  margin-left: 31%;
}
#hybridVsNormal .selection button {
  margin-left: 14%;
}
#hybridVsNormal .initialCost {
  margin-bottom: 5px;
}
